      <p><%= image_tag 'riding_photo.jpg' %></p>
      <p>世界は変わっています。日々暮らしのあり方、食べ物に対する概念。</p>
      <p>次は乗り物のあり方が変わるべきです。日常の中で移動時間というものは非常に「無駄」であると考えられます。</p>
      <p>その無駄な時間をNorideは有意義な時間へと変貌させるべく始動した新たな暮らしのスタイルを求めるチームです。</p>
    </section>
    <h3 class="not_login_view_title">Why I built this.</h3>
    <p></p>
  </div>